<%= render :partial => 'missing', :formats => [:html] %>
<h3>Locations</h3>

<table class="gridtable">
  <thead>
  <tr>
    <th>Location Id</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Postcode</th>
  </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
      <tr>
        <td><%= location.loc_id %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.postcode.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>
